doctype html
html(style='margin: 0; padding: 0; box-sizing:border-box')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title #{company_name} Email Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Questrial", rel="stylesheet")
  body(style='margin:0; padding:0; box-sizing:border-box; font-family: "Questrial", sans-serif; line-height: 25px')
    table(align='center', cellpadding='0', cellspacing='0', width='100%')
      tbody
        tr
          td(align='center')
            table(align='center', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr 
                  td(align='center' style='padding: 8px 8px 0 8px; color: #aaa; font-size: 0.7em;') 
                    span(style='width: 100%; max-width: 500px; display: block; text-transform: uppercase; text-align: right')
                      | &copy; Copyright #{company_name}
                tr 
                  td(align='center')
                    img(src=company_logo, alt=company_name, height='50px')
                tr 
                  td(style='padding: 16px')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                      tbody
                        tr
                          td(align='center' style='color: #8c43ff; font-size: 1.2em; font-weight: bold')
                            span(style='width: 100%; max-width: 500px; display: block')
                              | Welcome to #{company_name}
                        tr 
                          td(align='center' style='color: #597682; font-size: 1.5em; padding: 8px 0')
                            span(style='width: 100%; max-width: 500px; display: block')=tagline
                if header_img
                  tr 
                    td(align='center', style='vertical-align: middle; padding: 8px 32px')
                      span(style='width: 100%; max-width: 500px; display: block')
                        img(src=header_img, style='width: 60%; max-width: 500px')
                tr 
                  td(style='padding: 24px 64px')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px')
                      tbody
                        tr
                          td(style='padding: 8px; font-weight: bold') 
                            span(style='width: 100%; max-width: 500px; display: block; color: #191919')
                              =subject

                        if body
                          each content, index in body
                            tr
                              td(style='padding: 8px')
                                table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                  tbody
                                    tr
                                      td(style='font-size: 0.9em; padding: 2px 0; color: #597682')
                                        span(style='width: 100%; max-width: 500px; display: block')
                                          =content.title
                                    tr
                                      td(style='font-size: 0.9em; font-weight: bold; padding: 2px 0')
                                        span(style='width: 100%; max-width: 500px; display: block; color: #191919')
                                          =content.description
                tr 
                  td(style='padding: 36px; color: #fff; background-color: #8c43ff')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px')
                      tbody
                        tr
                          td(align='center' style='font-weight: bold; padding: 0 16px') 
                            span(style='width: 100%; max-width: 500px; display: block')
                              =rating_title
                        tr 
                          td(align='center' style='padding: 24px 16px')
                            table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px')
                              tbody
                                tr 
                                  td(align='center', width='20%')
                                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                      tbody
                                        tr 
                                          td(align='center' style='font-size: 2em; padding-bottom: 8px')
                                            i.far.fa-star
                                        tr 
                                          td(align='center' style='font-size: 0.7em') Poor
                                  td(align='center', width='20%')
                                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                      tbody
                                        tr 
                                          td(align='center' style='font-size: 2em; padding-bottom: 8px')
                                            i.far.fa-star
                                        tr 
                                          td(align='center' style='font-size: 0.7em') Fair
                                  td(align='center', width='20%')
                                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                      tbody
                                        tr 
                                          td(align='center' style='font-size: 2em; padding-bottom: 8px')
                                            i.far.fa-star
                                        tr 
                                          td(align='center' style='font-size: 0.7em') Good
                                  td(align='center', width='20%')
                                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                      tbody
                                        tr 
                                          td(align='center' style='font-size: 2em; padding-bottom: 8px')
                                            i.far.fa-star
                                        tr 
                                          td(align='center' style='font-size: 0.7em') Better
                                  td(align='center', width='20%')
                                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                                      tbody
                                        tr 
                                          td(align='center' style='font-size: 2em; padding-bottom: 8px')
                                            i.far.fa-star
                                        tr 
                                          td(align='center' style='font-size: 0.7em') Excellent
                        tr
                          td(align='center' style='font-size: 0.75em')
                            span(style='width: 100%; max-width: 500px; display: block')
                              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        tr
                          td(align='center' style='padding: 16px 0; font-weight: bold; font-size: 0.9em') 
                            span(style='width: 100%; max-width: 500px; display: block')
                              | Some Bold text
                        tr
                          td(align='center' style='font-size: 0.8em')
                            span(style='width: 100%; max-width: 500px; display: block')
                              | Lorem Ipsum is simply dummy text of the

                tr
                  td(style='padding: 32px')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px')
                      tbody
                        tr
                          td(align='center', style='padding: 16px')
                            img(src='/img/wallet.svg', style='height: 70px')
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='0', width='100%')
                              tbody
                                tr
                                  td(align='center', style='font-weight: bold') 
                                    span(style='width: 100%; max-width: 500px; display: block; color: #191919')
                                      | You could save more! 
                                tr
                                  td(align='center', style='font-size: 0.9em; padding: 8px 0; color: #597682')
                                    span(style='width: 100%; max-width: 500px; display: block')
                                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                tr
                                  td(align='center', style='padding: 16px')
                                    button(type='button', style='border: none; padding: 12px 24px; border-radius: 25px; background-color: #8c43ff; color: #fff; font-weight: bold') 
                                      span(style='padding-right: 16px')
                                        i.fa.fa-phone(style='transform: rotateZ(90deg)')
                                      =phone
                        tr
                          td(style='padding: 32px')
                            table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 200px')
                              tbody
                                tr 
                                  td(align='center' width='30.33%')
                                    a(href=social.fb_link, style='height: 32px; width: 32px; display: block; line-height: 32px; border: 1px solid #8c43ff; border-radius: 25px; color: #8c43ff')
                                      i.fab.fa-facebook-f(style='line-height: 32px')
                                  td(align='center' width='30.33%')
                                    a(href=social.instagram_link, style='height: 32px; width: 32px; display: block; line-height: 32px; border: 1px solid #8c43ff; border-radius: 25px; color: #8c43ff')
                                      i.fab.fa-instagram(style='line-height: 32px')
                                  td(align='center' width='30.33%')
                                    a(href=social.linkedin_link, style='height: 32px; width: 32px; display: block; line-height: 32px; border: 1px solid #8c43ff; border-radius: 25px; color: #8c43ff')
                                      i.fab.fa-linkedin-in(style='line-height: 32px')
                        tr          
                          td(align='center')
                            img(src=company_logo, alt=company_name, height='50px')
                        tr
                          td(align='center', style='font-size: 0.8em; color: #597682') 
                            span(style='width: 100%; max-width: 500px; display: block')
                              =footer.text
                        tr
                          td(align='center', style='padding: 16px 0')
                            table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px')
                              tbody
                                tr 
                                  each link, index in footer.links
                                    td(align='center', style='font-size: 0.8em') 
                                      a(href=link[1], style='text-decoration: none; color: #597682')=link[0]
                                    if index !== footer.links.length - 1
                                      td(align='center', style='font-size: 0.8em; color: #aaa') |